/* Local webfonts - Geist Sans (variable) */
@font-face {
  font-family: 'Geist Sans';
  src: url('../assets/fonts/GeistSans/GeistVF.woff2') format('woff2'),
       url('../assets/fonts/GeistSans/GeistVF.woff') format('woff');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
