@import url('./variables.css');
@import url('./reset.css');
@import url('./base.css');
@import url('./typography.css');
@import url('./accessibility.css');
@import url('./buttons.css');
@import url('./forms.css');
@import url('./layout.css');
@import url('./spacing.css');
@import url('./sizes.css');
@import url('./utilities.css');
@import url('./media-queries.css');
@import url('./components.css');
@import url('./pages.css');

/* Dark Themes */
@import url('./themes/dark/github-dark-classic.css');
@import url('./themes/dark/shades-of-purple.css');
@import url('./themes/dark/sandstorm-classic.css');
@import url('./themes/dark/rocky-blood-orange.css');
@import url('./themes/dark/minimal-dark-neon-yellow.css');
@import url('./themes/dark/hack-the-box.css');
@import url('./themes/dark/pink-cat-boo.css');

/* Light Themes */
@import url('./themes/light/github-light.css');
@import url('./themes/light/red-velvet-cupcake.css');
@import url('./themes/light/orangy-one-light.css');
@import url('./themes/light/sunflower.css');
@import url('./themes/light/green-breeze-light.css');
@import url('./themes/light/cute-pink.css');
@import url('./themes/light/semi-light-purple.css');
